.formulario {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section1 {
    label {
        display: flex;
        flex-direction: column;
    }
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.section2 {
    label {
        display: flex;
        flex-direction: column;
    }

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.section3{
    display: flex;
    flex-direction: column;
    width: 383px;
}
.botonesIncioSesion {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .botonR {
        width: 100px;
    }

    .botonG {
        width: 215px;
        img {
            width: 20px;
            height: 20px;
        }
    }
}