<div *ngIf="isUploading" class="loading-screen">
    <div class="spinner"></div>
    <p>{{ uploadProgress.toFixed(0) }}%</p>
    <p>Subiendo archivos, por favor espere...</p>
  </div>
<div class="container">
    <div class="serviciosLista">
        <div class="permiso">
            <div class="encabezado" id="colapso1">
                <div class="col-8">
                    <h3>Permisos</h3>
                </div>
                <div class="col-4">
                    <button (click)="toggleCollapse()">
                        <div></div>
                        <div></div>
                    </button>
                </div>
            </div>
            <div class="cuerpo" [ngClass]="{'collapsed':isCollapsed1}">
                <p>Requisitos</p>
                <ul>
                    <li>Copia de cedula</li>
                    <li>Copia del ruc</li>
                    <li>Copia de predio(Urbano/Rustico)</li>
                    <li>Permiso anterior</li>
                </ul>
                <button class="botonSolicitud" id="boton1" (click)="activarFormularioPermiso($event)">Solicitar</button>
            </div>
        </div>
        <div class="quema">
            <div class="encabezado" id="colapso2">
                <div class="col-8">
                    <h3>Quema controlada</h3>
                </div>
                <div class="col-4">
                    <button  (click)="toggleCollapse2()">
                        <div></div>
                        <div></div>
                    </button>
                </div>
            </div>
            <div class="cuerpo" [ngClass]="{'collapsed':isCollapsed2}">
                <ul>
                    <li>Solicitud a la institucion, pidiendo el servicio</li>
                    <li>Cancelar tasa correspondiente</li>
                </ul>
                <button class="botonSolicitud" id="boton2" (click)="activarFormularioQuema($event)">Solicitar</button>
            </div>

        </div>
        <div class="capacitaciones">
            <div class="encabezado" id="colapso3">
                <div class="col-8">
                    <h3>Capacitaciones</h3>
                </div>
                <div class="col-4">
                    <button (click)="toggleCollapse3()">
                        <div></div>
                        <div></div>
                    </button>
                </div>
            </div>
            <div class="cuerpo" [ngClass]="{'collapsed':isCollapsed3}">
                <ul>
                    <li>Manejo de extintores</li>
                    <li>Primeros auxilios</li>
                    <li>Identificacion y manejo de materiales peligrosos</li>
                    <li>Cuerdas y nudos</li>
                    <li>Rescate vehicular</li>
                </ul>
                <button class="botonSolicitud" id="boton3"
                    (click)="activarFormularioCapacitaciones($event)">Solicitar</button>
            </div>
        </div>
    </div>
    <div class="formularios">
        <div *ngIf="formulario" class="light-box">
            <div *ngIf="permisoForm" class="permisoFormulario">
                <form (ngSubmit)="onSubmit(contactForm, $event)" #contactForm="ngForm"  class="permisoFormulario">
                    <div class="cerrarF">
                        <h3>Permiso</h3>
                        <button class="cerrar animacion" (click)="desactivarFormulario($event)"><svg
                            xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg"
                            viewBox="0 0 16 16">
                            <path
                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                        </svg></button>
                    </div>
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" class="input" type="text" ngModel required>
                <label for="apellido">Apellido</label>
                <input id="apellido" name="apellido" class="input" type="text" ngModel required>
                <label for="correo">Correo</label>
                <input id="correo" name="correo" class="input" type="email" ngModel required>
                <label for="celular">Celular</label>
                <input id="celular" name="celular" class="input" type="text" ngModel required>
                <label for="descripcion">Descripcion</label>
                <textarea id="descripcion" name="descripcion" class="descripcion" id="" cols="40" rows="10" ngModel required></textarea>
                <label for="documentos">Documentos</label>
                <div>
                    <input  multiple="true" type="file" class="estilo1" id="archivo" (change)="onFilesSelected($event)" name="archivo" required multiple>
                    <label for="archivo">
                        <span class="estilo1-name">
                            <span>
                                Ningun Archivo Seleccionado
                            </span>
                        </span>
                        <span class="estilo1-button" (click)="mostrarInfoInputs()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                              </svg>
                                Buscar Archivo
                        </span>
                    </label>
                </div>
                <button class="botonSolicitud2" type="submit">Enviar</button>
            </form>
            </div>

            <div *ngIf="quemaForm">
                <form  (ngSubmit)="onSubmit(contactForm, $event)" #contactForm="ngForm"  class="quemaFormulario">
                    <div class="cerrarF">
                        <h3>Quema Controlada</h3>
                        <button class="cerrar animacion" (click)="desactivarFormulario($event)"><svg
                            xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg"
                            viewBox="0 0 16 16">
                            <path
                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                        </svg></button>
                    </div>  
                    <label for="nombre">Nombre</label>
                    <input id="nombre" name="nombre" class="input" type="text" ngModel required>
                    <label for="apellido">Apellido</label>
                    <input id="apellido" name="apellido" class="input" type="text" ngModel required>
                    <label for="correo">Correo</label>
                    <input id="correo" name="correo" class="input" type="email" ngModel required>
                    <label for="celular">Celular</label>
                    <input id="celular" name="celular" class="input" type="text" ngModel required>
                    <label for="descripcion">Descripcion</label>
                    <textarea id="descripcion" name="descripcion" class="descripcion" id="" cols="40" rows="10" ngModel required></textarea>
                <label for="solicitud">Solicitud</label>
                <div>
                    <input  multiple="true" type="file" class="estilo1" id="archivo" (change)="onFilesSelected($event)" name="archivo" required multiple>
                    <label for="archivo">
                        <span class="estilo1-name">
                            <span>
                                Ningun Archivo Seleccionado
                            </span>
                        </span>
                        <span class="estilo1-button" (click)="mostrarInfoInputs()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                              </svg>
                                Buscar Archivo
                        </span>
                    </label>
                </div>
                <button class="botonSolicitud2" type="submit">Enviar</button>
                </form>
            </div>
            <div *ngIf="capacitacionForm"  class="capacitacionFormulario">
                <form (ngSubmit)="onSubmitCapacitaciones(contactForm, $event)" #contactForm="ngForm"   class="capacitacionFormulario">
                <div class="cerrarF">
                    <h3>Capacitaciones</h3>
                    <button class="cerrar animacion" (click)="desactivarFormulario($event)"><svg
                        xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg"
                        viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg></button>
                </div>
                <label for="nombre">Nombre</label>
                <input class="input" name="nombre" type="text"  id="nombre" ngModel required>
                <label for="apellido">Apellido</label>
                <input class="input" name="apellido" type="text"  id="apellido" ngModel required>
                <label for="email">Correo</label>
                <input class="input" name="correo" type="email" id="correo" ngModel required>
                <label for="celular">Celular</label>
                <input class="input" name="celular" type="text" id="celular" ngModel required>
                <label>Capacitaciones:</label>
                <div class="part1">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" id="manejoExtintores" name="capacitaciones.Manejo de Extintores" value="Manejo de extintores" ngModel>
                        <label class="form-check-label" for="manejoExtintores">Manejo de extintores</label>
                    </div>
                    <div class="form-check ">    
                        <input class="form-check-input" type="checkbox" id="primerosAuxilios" name="capacitaciones.Primeros Auxilios" value="Primeros auxilios" ngModel>
                        <label class="form-check-label" for="primerosAuxilios">Primeros auxilios</label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" id="materialesPeligrosos" name="capacitaciones.Identificacion y Manejo de Materiales Peligrosos" value="Identificación y manejo de materiales peligrosos" ngModel>
                        <label class="form-check-label" for="materialesPeligrosos">Identificacion y manejo de materiales peligrosos</label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" id="cuerdasNudos" name="capacitaciones.Cuerdas y Nudos" value="Cuerdas y nudos" ngModel>
                        <label class="form-check-label" for="cuerdasNudos">Cuerdas y nudos</label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" id="rescateVehicular" name="capacitaciones.Rescate Vehicular" value="Rescate vehicular" ngModel>
                        <label class="form-check-label" for="rescateVehicular">Rescate vehicular</label>
                    </div>
                </div>
                <label for="">Descripcion</label>
                <textarea class="descripcion" name="descripcion" id="descripcion" cols="40" rows="10" ngModel required></textarea>
                <label for="">Solicitud</label>
                <div>
                    <input  multiple="true" type="file" class="estilo1" id="archivo" (change)="onFilesSelected($event)" name="archivo" required multiple>
                    <label for="archivo">
                        <span class="estilo1-name">
                            <span>
                                Ningun Archivo Seleccionado
                            </span>
                        </span>
                        <span class="estilo1-button" (click)="mostrarInfoInputs()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                              </svg>
                                Buscar Archivo
                        </span>
                    </label>
                </div>
                <button class="botonSolicitud2" type="submit">Enviar</button>  
            </form>
            </div>
        </div>
    </div>
    <div class="imagenes">
        <img data-aos="flip-right" data-aos-duration="2000" class="img1" src="../assets/imagenes/428617002_2888248771315947_1290825286165791885_n.jpg" alt="imagen 1">
        <img data-aos="flip-left" data-aos-duration="2000" class="img2" src="../assets/imagenes/409029430_2888116091329215_9108058529655700320_n.jpg" alt="imagen 2">
        <img data-aos="flip-left" data-aos-duration="2000" class="img3" src="../assets/imagenes/392789065_2797167507090741_5683215607980644370_n.jpg" alt="imagen 3">
        <img data-aos="flip-right" data-aos-duration="2000" class="img4" src="../assets/imagenes/IMG_3592 copia.jpg" alt="imagen 4" >
    </div>
</div>
