<h1 class="tituloLC">Rendiciones de Cuentas</h1>   
<input matInput type="text" placeholder="Buscar" [(ngModel)]="filtroBusqueda" (input)="aplicarFiltroBusqueda()" #input>
<div class="tabla">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="Numero">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let documento"> {{documento.uid}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let documento"> {{documento.nombre}} </mat-cell>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="Año">
            <mat-header-cell *matHeaderCellDef> Año </mat-header-cell>
            <mat-cell *matCellDef="let documento"> {{documento.anio}} </mat-cell>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="Presupuesto">
            <mat-header-cell *matHeaderCellDef> Presupuesto </mat-header-cell>
            <mat-cell *matCellDef="let documento"> {{documento.presupuesto}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Ingresos">
            <mat-header-cell *matHeaderCellDef> Ingresos </mat-header-cell>
            <mat-cell *matCellDef="let documento"> {{documento.ingresos}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Egresos">
            <mat-header-cell *matHeaderCellDef> Egresos </mat-header-cell>
            <mat-cell *matCellDef="let documento"> {{documento.egresos}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="Documento">
            <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
            <mat-cell *matCellDef="let documento"><a href="{{ documento.archivo }}" target="_blank">Ver documento</a></mat-cell>
          </ng-container>
          <ng-container matColumnDef="Accion">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let documento">
            <button class="botont" (click)="borrar(documento)">Eliminar</button>
            <button class="botonT" [ngClass]="{ 'selected-row': documento === selectedDocumento }" (click)="actualizar(documento)">Actualizar</button>
          </mat-cell>
         </ng-container>
         <ng-container *matNoDataRow>
          <tr class="mat-row" *ngIf="dataSource.data.length === 0 && !filtroBusqueda">
            <td class="mat-cell" colspan="4">No hay documentos subidos</td>
          </tr>
        <tr class="mat-row" *ngIf="dataSource.data.length === 0 && filtroBusqueda">
          <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
        </tr>
         </ng-container>
         <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>   
      </div>
<hr>

      <div class="formulario">
        <div class="section1">
          <label for="txtnombre">Nombre: <input id="txtnombre" [(ngModel)]="documento.nombre"/></label> 
          <label for="txtAño">Año: <input id="txtAño" [(ngModel)]="documento.anio"/></label>  
        </div>
        <div class="section1">
          <label for="txtPresupuesto">Presupuesto: <input  id="txtPresupuesto" [(ngModel)]="documento.presupuesto"/></label>
          
          <label for="txtIngreso">Ingresos: <input id="txtIngreso" [(ngModel)]="documento.ingresos"/></label>
        </div> 
    <div class="section1">
      <label for="txtEgreso">Egresos: <input id="txtEgreso" [(ngModel)]="documento.egresos"/></label>
     <label for="inputArchivo">Documento: <input id="inputArchivo" type="file" (change)="archivoSeleccionado($event)"/> </label>
    </div>
    <button id="boton" (click)="guardar(documento)">Guardar</button>  
      </div>