<div class="container-fluid">
  <h1 class="tituloLC">Rendiciones de Cuentas</h1>   
  <label for="filtro">Filtro</label> <input class="filtro" matInput type="text" placeholder="Ex. 2022" [(ngModel)]="filtroBusqueda" (input)="aplicarFiltroBusqueda()" #input>
  <div class="tabla">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="Numero">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let documento"> {{documento.uid}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="Nombre">
              <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let documento"> {{documento.nombre}} </mat-cell>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="Año">
              <mat-header-cell *matHeaderCellDef> Año </mat-header-cell>
              <mat-cell *matCellDef="let documento"> {{documento.anio}} </mat-cell>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="Presupuesto">
              <mat-header-cell *matHeaderCellDef> Presupuesto </mat-header-cell>
              <mat-cell *matCellDef="let documento"> {{documento.presupuesto}} </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="Ingresos">
              <mat-header-cell *matHeaderCellDef> Ingresos </mat-header-cell>
              <mat-cell *matCellDef="let documento"> {{documento.ingresos}} </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="Egresos">
              <mat-header-cell *matHeaderCellDef> Egresos </mat-header-cell>
              <mat-cell *matCellDef="let documento"> {{documento.egresos}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="Documento">
              <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
              <mat-cell *matCellDef="let documento"><a href="{{ documento.archivo }}" target="_blank">Ver documento</a></mat-cell>
            </ng-container>
            <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let documento">
              <button class="botont" (click)="borrar(documento)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                </svg>
              </button>
              <button class="botonT" [ngClass]="{ 'selected-row': documento === selectedDocumento }" (click)="actualizar(documento)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
                  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
                </svg>
              </button>
            </mat-cell>
           </ng-container>
           <ng-container *matNoDataRow>
            <tr class="mat-row" *ngIf="dataSource.data.length === 0 && !filtroBusqueda">
              <td class="mat-cell" colspan="4">No hay documentos subidos</td>
            </tr>
          <tr class="mat-row" *ngIf="dataSource.data.length === 0 && filtroBusqueda">
            <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
          </tr>
           </ng-container>
           <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>   
        </div>
  <hr>
  
        <div class="formulario">
          <div class="section1">
            <label for="txtnombre">Nombre: <input id="txtnombre" [(ngModel)]="documento.nombre"/></label> 
            <label for="txtAño">Año: <input id="txtAño" [(ngModel)]="documento.anio"/></label>  
          </div>
          <div class="section1">
            <label for="txtPresupuesto">Presupuesto: <input  id="txtPresupuesto" [(ngModel)]="documento.presupuesto"/></label>
            
            <label for="txtIngreso">Ingresos: <input id="txtIngreso" [(ngModel)]="documento.ingresos"/></label>
          </div> 
      <div class="section1">
        <label for="txtEgreso">Egresos: <input id="txtEgreso" [(ngModel)]="documento.egresos"/></label>
       <div class="mb-3">
        <label for="formFileSm" class="form-label">Documento: <input class="form-control form-control-sm" id="formFileSm" type="file" (change)="archivoSeleccionado($event)"></label>
      </div>
      </div>
      
      <button id="boton" (click)="guardar(documento)">Guardar</button>  
        </div>
</div>
