body{
    background: linear-gradient(to bottom, #330000, #CC3333);
    margin: 0;
    height: 100vh;
}
.contTabla{
    background-color: transparent;
}
mat-table{
    background-color: black;
    height: auto;
    padding-bottom: 3.5rem;
}
mat-header-cell{
    background-color: black;
    color: azure;
    font-size: small;
    text-transform: uppercase;
    border: solid 1px white;
}
mat-cell{
    
    border: solid 1px white;
}
mat-row:nth-of-type(odd){
background-color: rgb(222, 224, 224);
}
mat-row:nth-of-type(even){
    background-color: rgb(165, 165, 165);
}
.tituloLC{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;;
}
.filtroTitulo{
    color: white;
}
.filtro{
    display: flex;
    background-color: transparent;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 2px solid black;
    &:focus{
        border-radius: 0.5px;
        background-color: rgb(206, 208, 208);
    }
}
.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 50vh;
}