@import "../styles.scss";


.encabezado{
    background-color: #7c0808;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
}
.encabezadoTop{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .fuente{
        position: relative;
        top: 7px;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 65pt;
        color: #FFB400;
    }
    .logo{
        display: flex;
        height: 120px;
        width: 120px;
    }
}
.encabezadoTop{
    @media(max-width:551px){
        .logo{
            height: 80px;
            width: 80px;
        }
        .fuente{
            font-size: 58pt;
        }
    }
    @media(max-width:522px){
        .logo{
            position: relative;
            left: 4px;
        }
        .fuente{
            font-size: 58pt;
        }
    }
    @media(max-width:457px){
        .logo{
            position: relative;
            left: 10px;
        }
        .fuente{
            position: relative;
            left: 10px;
        }
    }
    @media(max-width:439px){
        .fuente{
            position: relative;
            left: 12px;
        }
    }
    @media(max-width:280px){
        .fuente{
            font-size: 28pt;  
        }
    }
}  

.encabezadoMedio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .barra{
        display: flex;
        }
    .botonDecoration{
        display: flex;
    }
}  

.presentacion{
    @media (max-width: 530px){   
       .info-unidad{
        max-width: 400px;
        img,p{
            display: flex;
            max-width: 400px;    
        }
       }
        
    }
    h1{
        justify-content: center;
        font-weight: bold;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
}
.info{
    border: 3px black solid;
    padding: 2rem;
}
.info-unidad{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: auto;
    span{
        text-transform: uppercase;
        font-size: 28pt;
        font-weight: 500;
    }
    p{
        flex-wrap: wrap;
        max-width: 500px;
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        text-align: justify;
    }
    img{
        height: auto;
        width: auto;
    }
}
@media (max-width: 950px){
    .info-unidad{
        margin-left: 5px;
        flex-direction: column;
    }
}
.info-unidad2{
    @extend .info-unidad;
}
.carousel{
    padding-bottom: 20px;
}  
.carousel-item img{
 height: auto;
}
.cont-noticias{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} 
.noticias{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenes{
    margin: 0 auto;
    //width: 75%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,355px),1fr));
    img{
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
    } 
}
.pieDePagina{
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c0808;
    max-height: 100px;
    flex-direction: column;
        span{
            color: #FFB400;
            font-weight: bold;
        }
}
//galeria
.galeria{   
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48pt;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    img{
        width: 75vw;
        max-height: 75vh;
    }
    .close{
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
        width: 40px;
        height: 40px;
        background-color: #7c0808;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        color: white;
        line-height: 40px;
    }
    .close:target{
        transform: scale(0);
    }
    .next{
        display: block;
        background-color: #7c0808;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 30px;
        text-align: center;
    }
}
.light-box:target{
    transform: scale(1);
}

//barra de navegacion
.navbar {
  background-color: #255a82;
  overflow: hidden;
  border-radius: 5px;
}

.navbar-toggle {
 display: flex;
  background-color: #255a82;
  flex-direction: column;
  width: 3rem;
  height: 2rem;
  border: 0;
  gap: .65rem;
  div {
    background-color: white;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
  } 
  
}
.navbar-links {
  display: flex;
  justify-content: flex-end;
  
}

.navbar-links a {
  color: white;
  gap: 2rem;
  text-decoration: none;
  padding: 14px 20px;
  font-weight: bold;
  &:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 14px 20px;
    font-weight: bold;
  }
  
}

.collapsed {
  display: none;
}
//boton de iniciar y cerrar sesion
.botones{
    display: none;
}
#colapso2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top:auto;
    z-index: 1;
    a{
        text-decoration: none;
    }
    .inicioCollapse{
        background-color: #000000;
        color: white;
        border: none;
        height: 60px;
    }
    .botonInicio{
        color: white;
        background-color: #000000;
        height: 60px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover{color: #255a82;} 
    }
}
@media (max-width: 441px){   
     #colapso2{
        top: 181px;
     }   
}
.collapsed2{
        display: flex !important;
        flex-direction: row;
}

@media screen and (max-width: 520px) {
  .navbar-links {
    display: none;
    a{
        padding: 14px 152px;
        justify-content: center;
        position: relative;
        display: flex;
    }
  }
  .collapsed {
    display: flex !important;
    flex-basis: auto;
    flex-direction: column;
    width: 100%;
    background-color: #255a82;
    
  }
}


//ANIMACIONES
.animacion1{ 
    animation: traslado 1s forwards alternate-reverse;     
}
@keyframes traslado {
100%{
    transform: translateY(-25%);
    opacity: 0;
}
}
@keyframes traslado2 {
100%{
    transform: translateY(100%);
    opacity: 1;
}
}
.animacion2{
    &:hover{
   animation: rotacion 4s;
}
}
@keyframes rotacion {
    100%{
        transform: rotate(360deg);  
    }    
}
.animacion3 {
    div:first-child {
        transform: rotate(45deg);
    }

     div:nth-child(2) {
        opacity: 0;
    }

    div:last-child {
        transform: rotate(-45deg);
    }
}
.animacion4 {
    div:first-child {
        transform: rotate(0deg);
    }

     div:nth-child(2) {
        opacity: 1;
    }

    div:last-child {
        transform: rotate(0deg);
    }
}

//carrucel
.carousel-item{
img{
    width: 100vw;
    max-height: 600px;
}
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    width: 50px;
    height: 50px;
    background-color: #255a82;
}