<div class="container">
  <div class="encabezado">
    <h1>Bomberos Oña</h1>
    <ul class="lista">
      <li>
        <a routerLink="/">
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a routerLink="paginas/servicio">
          <span>Servicios</span>
        </a>
      </li>
      <li>
        <a routerLink="paginas/transparencia">
          <span>Transparencia</span>
        </a>
      </li>
      <li><a routerLink="paginas/compras">
          <span>Compras</span>
        </a></li>
    </ul>
  </div>
  <div class="cuerpo">
    <router-outlet></router-outlet>
  </div>
  <div class="pieDePagina">

  </div>
</div>