@import "../styles.scss";

.encabezado{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 428px){
    .lista{
        opacity: 0;
    }
}
.barra{
  //colores por ver  
}
.carousel-item img{
 height: 200px;
}