<div class="container">
  <div class="ubi">
    <a href=""><img class="icon1" src="https://i.pinimg.com/originals/3d/2f/69/3d2f69fc251a89da9185efa6c58df345.png" alt="icono_mapa"/></a>
    <ul class="redes">
      <li><a href=""><img src="https://cdn-icons-png.flaticon.com/256/124/124010.png" alt=""></a></li>
      <li><a href="">youtube</a></li>
    </ul>
  </div>
  <div class="encabezado">
    <h1>Bomberos Oña</h1>
   <div class="contenedorList">
    <ul class="lista">
      <li>
        <a routerLink="/">
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a routerLink="paginas/servicio">
          <span>Servicios</span>
        </a>
      </li>
      <li>
        <a routerLink="paginas/transparencia">
          <span>Transparencia</span>
        </a>
      </li>
      <li><a routerLink="paginas/compras">
          <span>Compras</span>
        </a></li>
    </ul>
   </div>
  </div>
  <div class="cuerpo">
    <router-outlet></router-outlet>
  </div>
  <div class="pieDePagina">

  </div>
</div>