.derecha{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .botonesRedes{
      display: flex;
      gap: 0.5rem;
      button{
        border: none;
        background: transparent;
      }  
    }
}
.contacto{
    justify-content: center;
    align-items: center;
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,355px),1fr));
    .tarjeta{
    aspect-ratio: 3/2;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .mapa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem;
    }
}
.formulario{
    position: relative;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    .input{
        display: flex;
        width: 250px;
        height: 40px;
        border-radius: 5px;
        border: none;
        border-bottom: 1px solid black;
        background-color: rgba(194, 194, 194, 0.678);
    }
    .botonSolicitud{
       display: flex;
       background-color: transparent;
       border-radius: 3px;
       border: 1px solid #255a82;
       color: #255a82;
       flex-direction: column;
       &:hover{
        background-color: #255a82;
        color: white;
       }
    }
    & .input:hover{
        opacity: 0.5;
    }
    textarea{
        display: flex;
        width: 335px;
        height: 150px;
        border-radius: 5px;
        border: none;
        border-bottom: 1px solid black;
        background-color: rgba(194, 194, 194, 0.678);
    }
    & textarea:hover{
        opacity: 0.5;
    }
}
