<div class="container contacto">
    <div class="formulario">
        <h1>Formulario</h1>
        <label for="">Nombre</label>
        <input class="input" type="text">
        <label for="">Correo</label>
        <input class="input" type="email">
        <label for="">Celular</label>
        <input class="input" type="text">
        <label for="">Direccion</label>
        <input class="input" type="text">
        <label for="">Mensaje</label>
        <textarea></textarea>
        <button class="boton">Enviar</button>
    </div>
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.5008371881904!2d-79.15795082514275!3d-3.4706301419149486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ccba532edf146b%3A0x2d3a90116680d5c0!2sBOMBEROS%20DE%20SAN%20FELIPE%20DE%20O%C3%91A!5e0!3m2!1ses-419!2sec!4v1700883482857!5m2!1ses-419!2sec" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
