<h1>Noticias</h1>
  <div class="fb-page" data-href="https://www.facebook.com/cuerpodebomberos.voluntariosdeona" data-tabs="timeline"
    data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
    data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/cuerpodebomberos.voluntariosdeona" class="fb-xfbml-parse-ignore"><a
        href="https://www.facebook.com/cuerpodebomberos.voluntariosdeona">Cuerpo De Bomberos Voluntarios Del Cantón
        Oña</a></blockquote>
  </div>

 <div>
  <section id="feed-contenedor">
    <div class="main-galery">
      
    </div>
  </section>
 </div> 
